/**************************************************/
/***  /saas/base/_mixins.scss                ******/
/**************************************************/
// @import "../Global.scss" ;
@use "../utils/variables" as *;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// media queries

@mixin tablet {
  @media screen and (max-width: map-get($breakpoints, tablet)){
      @content;
  }
}

@mixin mobile {
  @media screen and (max-width: map-get($breakpoints, mobile)){
      @content; 
  }
}