/**************************************************/
/***  /saas/base/_variables.scss             ******/
/**************************************************/

/* variables globales */
    $primary-color: #FF6060;
    $secondary-color : #F7F7F7;
    $background-color: #FFFFFF;
    $background-cards:#F6F6F6;
    $background-footer: #000000;
    $font-family: Montserrat;
    $color-white-transparent: rgba(255, 255, 255, 0);
    $color-black-semi-transparent: rgba(0, 0, 0, 0.5);
	
    // variables globales pour media queries //
    $breakpoints:( mobile:768px , tablet:992px);
    