/***********************************************/
/***  sass/pages/ErrorPage.scss           ******/
/***********************************************/
@use "../utils/variables" as *;
@use "../utils/mixins" as m;

.error_container {
    @include m.flex(column,center,center);
    margin: 26px 100px;
    padding-bottom: 25px;
    }

.error_number {
    height:200px;
    width: auto;
    margin-top:200px;
    font-weight: 700;
    font-size: 288px;
    color : $primary-color;
    text-align:center; 
    line-height: 200px;
    @include m.tablet
    {
        height: 200px;
        font-size:150px; 
    } 
    @include m.mobile 
    {
        height: 99px;
        font-size:96px; 
        line-height: 136.9px;
    }
    }

.error_text {
    color : $primary-color;
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
    margin-top: 66px;
    text-align: center;
    @include m.mobile
    {
        height:52px;
        font-size:18px;
        line-height:25.67px;
    }
}

li {
    display: block;
    max-width:284px;
    height:26px;
    color : $primary-color;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    }

.error_return {
	margin-top:182px;
	margin-bottom:159px;
	font-size:18px;
    text-decoration: underline;
    @include m.mobile 
    {
        height:20px;
        font-size:14px;
        line-height:19.96px;
    }
}
