@use "../utils/variables" as *;
@use "../utils/mixins" as m;


.cards{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    border-radius: 25px;
    background-color:$background-cards;
    margin: 0 auto 45px auto;
    @media screen and (max-width: 1278px)
    {
        gap: 25px; 
    }
    @include m.mobile 
    {
        width: 100%;
        padding: 0px 0px 20px 0px;
        background-color: #FFFFFF;
        margin-bottom: 60px;
    }

    &_container{
    margin-top:63px;
    @media screen and (max-width: 1278px)
    {
        margin-top:43px;
    }
    @include m.mobile
    {
        margin-top:16px;
    }
    }
}
